= gitlab_ui_form_for @application_setting, url: reporting_admin_application_settings_path(anchor: 'js-spam-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    %h5
      = _('reCAPTCHA')
    %p
      = _('reCAPTCHA helps prevent credential stuffing.')
      = link_to _('Only reCAPTCHA v2 is supported:'), 'https://developers.google.com/recaptcha/docs/versions', target: '_blank', rel: 'noopener noreferrer'
    .form-group
      - spam_help_link_url = help_page_path('integration/recaptcha.md')
      - spam_help_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: spam_help_link_url }
      = f.gitlab_ui_checkbox_component :recaptcha_enabled, _("Enable reCAPTCHA"),
      help_text: _('Helps prevent bots from creating accounts. %{link_start}How do I configure it?%{link_end}').html_safe % { link_start: spam_help_link_start, link_end: '</a>'.html_safe }
    .form-group
      = f.gitlab_ui_checkbox_component :login_recaptcha_protection_enabled, _('Enable reCAPTCHA for login.'),
      help_text: _('Helps prevent bots from brute-force attacks.')
    .form-group
      = f.label :recaptcha_site_key, _('reCAPTCHA site key'), class: 'label-bold'
      = f.text_field :recaptcha_site_key, class: 'form-control gl-form-input'
      .form-text.text-muted
        = _("Generate site and private keys at")
        %a{ href: 'http://www.google.com/recaptcha', target: 'blank', rel: 'noopener noreferrer' } http://www.google.com/recaptcha

    .form-group
      = f.label :recaptcha_private_key, _('reCAPTCHA private key'), class: 'label-bold'
      = f.text_field :recaptcha_private_key, class: 'form-control gl-form-input'

    %h5
      = _('Invisible Captcha')
    %p
      = _('Invisible Captcha helps prevent the creation of spam accounts. It adds a honeypot field and time-sensitive form submission to the account signup form.')
      = link_to _('Read their documentation.'), 'https://github.com/markets/invisible_captcha', target: '_blank', rel: 'noopener noreferrer'

    .form-group
      = f.gitlab_ui_checkbox_component :invisible_captcha_enabled, _('Enable Invisible Captcha during sign up'),
      help_text: _('Helps prevent bots from creating accounts.')

    %h5
      = _('Akismet')
    %p
      = _('Akismet helps prevent the creation of spam issues in public projects.')
      = link_to _('How do I configure Akismet?'), help_page_path('integration/akismet.md'), target: '_blank', rel: 'noopener noreferrer'

    .form-group
      = f.gitlab_ui_checkbox_component :akismet_enabled, _('Enable Akismet'),
      help_text: _("Helps prevent bots from creating issues.")

    .form-group
      = f.label :akismet_api_key, _('Akismet API Key'), class: 'label-bold'
      = f.text_field :akismet_api_key, class: 'form-control gl-form-input'
      .form-text.text-muted
        = _("Generate API key at %{site}").html_safe % { site: link_to('http://www.akismet.com', 'http://www.akismet.com', target: 'blank', ref: 'noopener noreferrer') }

    %h5
      = _('IP address restrictions')

    .form-group
      = f.gitlab_ui_checkbox_component :unique_ips_limit_enabled, _("Limit sign in from multiple IP addresses"),
      help_text: _("Helps prevent malicious users hide their activity.")

    .form-group
      = f.label :unique_ips_limit_per_user, _('IP addresses per user'), class: 'label-bold'
      = f.number_field :unique_ips_limit_per_user, class: 'form-control gl-form-input'
      .form-text.text-muted
        = _("Maximum number of unique IP addresses per user.")

    .form-group
      = f.label :unique_ips_limit_time_window, _('IP address expiration time'), class: 'label-bold'
      = f.number_field :unique_ips_limit_time_window, class: 'form-control gl-form-input'
      .form-text.text-muted
        = _("How many seconds an IP counts toward the IP address limit.")

    %h5
      = _('Spam Check')

    .form-group
      = f.gitlab_ui_checkbox_component :spam_check_endpoint_enabled, _('Enable Spam Check via external API endpoint'),
      help_text: _('Define custom rules for what constitutes spam, independent of Akismet')
    .form-group
      = f.label :spam_check_endpoint_url, _('URL of the external Spam Check endpoint'), class: 'label-bold'
      = f.text_field :spam_check_endpoint_url, class: 'form-control gl-form-input'
    .form-group
      = f.label :spam_check_api_key, _('Spam Check API key'), class: 'gl-font-weight-bold'
      = f.text_field :spam_check_api_key, class: 'form-control gl-form-input'
      .form-text.text-muted= _('The API key used by GitLab for accessing the Spam Check service endpoint.')

  = f.submit _('Save changes'), class: "gl-button btn btn-confirm"
